<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Serra</title>
  <!-- <link rel="stylesheet" href="https://unpkg.com/bulma-dracula"> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>

  <!-- Site Title -->
  <section class="section">
    <div class="container">
      <div class="block">
        <h1 class="title is-1">
          Serra
        </h1>
        <p class="subtitle">
          <i>Magic: The Gathering</i> Collection
        </p>
      </div>
    </div>
  </section>

  <!-- Nav Bar -->
  <section class="section">
    <div class="container">
      <nav class="level">

        <!-- Left side -->
        <div class="level-left">

          <div class="level-item">
            <div class="field">
              <label class="label">Set</label>
              <div class="control">
                <div class="select">
                  <select>
                    <option>Mercadian Masks</option>
                    <option>Urzas Saga</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="level-item">
            <div class="field">
              <label class="label">Name</label>
              <div class="control">
                <input class="input" type="text" placeholder="Tolarian Academy">
              </div>
            </div>
          </div>
        </div>

        <!-- Right side -->
        <div class="level-right">
          <p class="level-item"><a class="button is-primary">Search</a></p>
        </div>
      </nav>

      <!-- Results Table -->
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th><abbr title="Amount">#</abbr></th>
            <th>Name</th>
            <th><abbr title="Set Code">Set</abbr></th>
            <th><abbr title="Collector Number">C</abbr></th>
            <th><abbr title="Price">$</abbr></th>
            <th><abbr title="Price Foil">$*</abbr></th>
            <th><abbr title="Price Eur">€</abbr></th>
            <th><abbr title="Price Eur Foil">€*</abbr></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th><abbr title="Amount">#</abbr></th>
            <th>Name</th>
            <th><abbr title="Set Code">Set</abbr></th>
            <th><abbr title="Collector Number">C</abbr></th>
            <th><abbr title="Price">$</abbr></th>
            <th><abbr title="Price Foil">$*</abbr></th>
            <th><abbr title="Price Eur">€</abbr></th>
            <th><abbr title="Price Eur Foil">€*</abbr></th>
          </tr>
        </tfoot>
        <tbody>
        {{range .cards}}
          <tr>
            <td>{{.SerraCount}}</td>
            <td><strong>{{.Name }}</strong></td>
            <td>{{.Set}}</td>
            <td>{{.CollectorNumber}}</td>
            <td>{{.Prices.Usd}}</td>
            <td>{{.Prices.UsdFoil}}</td>
            <td>{{.Prices.Eur}}</td>
            <td>{{.Prices.EurFoil}}</td>
          </tr>
        {{end}}
        </tbody>
      </table>
    </div>
  </section>

</body>

</html>
